@using Umbraco.Commerce.DemoStore
@using Umbraco.Commerce.DemoStore.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ICheckoutStepPage>
@{
    var cartPage = Model.GetCartPage()!;
    var checkoutPage = Model.GetCheckoutPage()!;
    var previousStep = Model.GetPreviousStep();
    var nextStep = Model.GetNextStep();
}
<div class="flex flex-col-reverse items-center justify-between mt-8 md:flex-row">
    @if (Model.CanGoBack) 
    {
        if (previousStep != null)
        {
            <div><a href="@(previousStep.Url())" class="text-@(checkoutPage.PrimaryColor) hover:text-gray-900 hover:underline"><i class="fa fa-angle-left"></i> Return to @(previousStep.Name)</a></div>
        }
        else
        {
            <div><a href="@(cartPage.Url())" class="text-@(checkoutPage.PrimaryColor) hover:text-gray-900 hover:underline"><i class="fa fa-angle-left"></i> Return to Cart</a></div>
        }
    }
    @if (nextStep != null)
    {
        <div class="mb-4 w-full md:mb-0 md:w-auto">
            <button class="bg-@(checkoutPage.PrimaryColor) text-white px-4 py-4 w-full rounded hover:bg-gray-900" type="submit">Continue to @(nextStep.Name)</button>
        </div>
    }
</div>